
{% extends 'base.html' %}
{% block title %} Terms And Conditions {% endblock title %}

{% block body %}
<div align="center" class="container mx-auto">
<h1 style="text-align: center; size: 48px;">Benifits For Joining Epair.in As A Mechanic</h1>
    
    
    <h>Unlimited Posibility Of Earning</h>

      <p>Epair.In will provide ypu the power of <b>Internet</b>. </p>
      <p>Epair.In Will help you getting consumers. </p>
      <p>Epair.in will give you a online platform.</p>
      <p>Epair.In Is free until you earn money from us.</p>
    
    <h>Other Benifits</h>
      <p>Epair.In will certify you as a <b>professional</b>. </p>
      <p>Epair.In Will help you in increasing your buisness. </p>
      <p>Epair.in will give you a platform to promote yourself.</p>
      <p>Lowest possible money will be charged to you by epair.in.</p>
      <p>You are independent in billing consumers but you have to use epair.in's official pad to charge your consumers.</p>
    
    <h>Payment</h>
      <p>Epair.In will not pay you any kind Of money for your services you have to collect the money directly from consumer. </p>
      <p>Epair.In is jut a medium between consumer and mechanic. Epair.in will jut give you a platform to promote yourself as a mechanic. </p>
      <p>Epair.in will charge you 5% for your services.</p>
      <h4>
      <a href="/mechanic/register/" class="btn btn-primary">Join Us Now</a></h4>
</div>
{% endblock body %}