{% extends 'base.html' %}
{% block title %}Success{% endblock title %}

{% block body %}
<div align="center" class="alert alert-success" role="alert">
    <h4 class="alert-heading">Successfully Submited</h4>
    <p>Your Request Has Been Submited Successfully Our Representative Will Call You Soon.</p>
    <hr>
    <p class="mb-0">Whenever You Need Any Help Feel Free And Mail Us On <h1 style="font-size: 30px;color: blue;">epaierhelp@gmail.com</h1> </p>
    <p class="mb-0">Or Whatsapp us <h1 style="font-size: 35px;color: blue;">8945068052</h1> </p>
  </div>

{% endblock body %}