{% extends 'log.html' %}
{% block title %}Enter Password{% endblock title %}

{% block body %}
{# Start: Login Form Dark #}
<div class="login-dark">
        <form method="POST">
        {% csrf_token %}

                <div class="illustration"><span class="login100-form-title text-center">
		<img src="/static/logo.png" width="200" height="200">
		</span></div>
        {# new password #}
        <div class="form-group"><input class="form-control" type="phoneno" name="phoneno" id="phoneno"
                placeholder="Phone Number" value="{{ phoneno }}" readonly></div>

                {# Otp #}
        <div class="form-group"><input class="form-control" type="password" name="password" id="password"
                placeholder="New Password"  required></div>

        {# Error Message #}

        <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
  

        {# Button  #}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Change Password</button></div>
    </form>







</div>


{% endblock body %}