{% extends 'log.html' %}
{% block title %} Reset Password{% endblock title %}

{% block body %}
{# Start: Login Form Dark #}
<div class="login-dark">
<h2 class="sr-only"> 
        Enter Your Phone Number Bellow To Reset Your Password, 
        And We Are Goiong To Send You Verification Code For Setting A New Password</h2>
    {# FORM HERE #}
    <form method="POST">
          {% csrf_token %}
        {# Title #}
        <h2 class="sr-only">Reset Password</h2>
        <div class="illustration"><span class="login100-form-title text-center">
		<img src="/static/logo.png" width="200" height="200">
		</span></div>
        {# Email #}
        <div class="form-group"><input class="form-control" type="phoneno" name="phoneno" id="phoneno"
                placeholder="Phone Number" required></div>

                {# Password #}
        
        {# Error Message #}

        <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {# Button  #}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Reset Password</button></div>
    </form>
</div>

{% endblock body %}