{% extends 'log.html' %}
{% block title %}Reset Password{% endblock title %}

{% block body %}
{# Start: Login Form Dark #}
<div class="login-dark">
<h2 class="sr-only">Reset Your Password Form Here.</h2>
    <form method="POST">
        {% csrf_token %}

                <div class="illustration"><span class="login100-form-title text-center">
		<img src="/static/logo.png" width="200" height="200">
		</span></div>
        {# phoneno view #}
        <div class="form-group"><input class="form-control" type="phoneno" name="phoneno" id="phoneno"
                placeholder="Phone Number" value="{{ phoneno }}" readonly></div>

                {# Otp #}
        <div class="form-group"><input class="form-control" type="Number" name="otp" id="otp"
                placeholder="otp"  required></div>

        {# Error Message #}

        <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
  

        {# Button  #}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Change Password</button></div>
    </form>
</div>

{% endblock body %}