{% extends 'log.html' %}
{% block title %} Forgot Password pass{% endblock title %}

{% block body %}
<div class="login-dark">
<form method="post">
       {% csrf_token %}
              <h2 class="sr-only">Reset Password</h2>
            <div class="illustration"><span class="login100-form-title text-center">
		<img src="/static/logo.png" width="200" height="200">
		</span></div>
    {# Phone Number #}
    <a>Phone No:</a>
    <div class="form-group"><input class="form-control" type="number" name="phoneno"  value="{{ phoneno }}" readonly></div>
    
    {# password #}
    <a>Password :</a>
    <div class="form-group"><input class="form-control" type="text" name="password" placeholder="Enter Password" required>
    <input type="number" name="step" class="form-control" value="3" style="display: none"></div>
{# Button #}
<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
</form>
</div>
{% endblock body %}