{% extends 'log.html' %}
{% block title %} Forgot Password{% endblock title %}

{% block body %}


<div class="login-dark">
<form method="post">
       {% csrf_token %}
       <h2 class="sr-only">Reset Password</h2>
            <div class="illustration"><span class="login100-form-title text-center">
		<img src="/static/logo.png" width="200" height="200">
		</span></div>
    {% autoescape off %}
        {{ message }}
    {% endautoescape %}

    <a>Phone No:</a>
    {# Phone Number #}
    <div class="form-group"><input class="form-control" type="phonenumber" name="phoneno"  value="">
    <input type="number" name="step" value="1" style="display: none"></div>
    {# Button #}
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
</form>
</div>


{% endblock body %}