{% extends 'log.html' %}
{% block title %}Change Password {% endblock title %}

{% block body %}
<!-- Start: Login Form Dark -->
<div class="login-dark">
    <div class="container">
        <form method="POST">
            {% if request.user.is_authenticated %} 
            {% csrf_token %}
           {# Title #} 
            <h2 class="sr-only">Change Password</h2>
            {# form #}
           {{ form.as_p }}
           
           {# Change Password (Button) #}
           <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Change Password</button></div>
           
            {% else %}

{# Login Button #}
            <div class="form-group">
                <h2 class="sr-only">Login First To Change Password....</h2>
                <div class="form-group"><a href="/login/login/"><button class="btn btn-primary btn-block">Change Password</button></a></div>
            </div>

            
        {% endif %}
        </form>
    </div>
</div>

{% endblock body %}