
{% extends 'base.html' %}
{% block title %}About {% endblock title %}

{% block body %}
<div align="center" class="container mx-auto mb-4">
<h1 style="align-self: center; font-size: 300%; text-align: center;">About Us</h1>
<p style="size: 200%; text-align: center;">Epair.in’s mission is to organize the local skilled persons who are earning from repairing things. Our mission is to make them organized and help them earn more.
    Our platform gives users the independence to repair all kinds of things Also our platform gives a hastle free experiance to the consumers . Using our platform users can repair their products staying at home. 
    </p>
</div>
<div align="center" class="container mb-4, mx-auto">
<p style="align-self: stretch; font-size: 300%; text-align: center;"> Why Epair.In ?</p>
<ol style="align-self: center; size: 150%; text-align: left;">    
<li><b>Efficient Service.</b></li>
<li><b>HASTLE FREE SERVICES.</b></li>
<li><b>quick PROBLEM DIAGNOSIS and repair.</b></li>
<li><b>TRAINED TECHNICIANS.</b></li>
<li><b>Cheapest solution.</b></li>
</ol>
</div>

{% endblock body %}